# Dependencies
node_modules/

# Production build
dist/
build/

# Logs & Environment
*.log
.env
.env.local
.env.*.local
backend/vendor/
backend/.env
backend/storage/logs/*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
scratch/
